
:root {
    --blurple: #5865F2;
    --gray-600: #6c757d;
    --background: #282c34;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.App {
    background-color: var(--background);
    min-height: 100vh;
    color: white
}

.title {
  color: var(--blurple);
  text-align: center;
  padding: 10px
}

.nav { 
    background-color: whitesmoke;
    height: 100vh; 
    color: black;
    overflow: 'scroll';
    padding: 7px;
}

