:root {
    --background: #282c34;
    --blurple: #5865F2;
    --yerrow: #FCA314;
    --oranger: #FC9014;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
}

.App {
    background-color: var(--background);
    min-height: 100vh;
    overflow-y: scroll;
    color: white
}

.toggle-menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: auto;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 1.7rem;
    background-color: #415364;
    border-radius: 0 0 5px 0;
}

.toggle-menu-btn:hover {
    background-color: var(--blurple);
}

.toggle-menu-btn.active {
    left: 275px;
}

.title {
    text-align: center;
    font-size: 1.4rem;
    text-transform: 'uppercase';
    font-weight: 'bold';
    letter-spacing: 1px;
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    white-space: 'nowrap';
}

.drawer-darker-section {
    background-color: var(--gray-900);
}