
:root {
    --background: #282c34;
    --blurple: #5865F2;
    --yerrow: #FCA314;
    --oranger: #FC9014;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    background-color: var(--background);
    min-height: 100vh;
    overflow-y: scroll;
    color: white
}


.wrapper {
    height: calc(100% - 70px) !important;
}

/* Navigation */
.nav-container {
    display: flex;
    position: relative;
    max-width: 250px;
    justify-content: flex-end;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.6s cubic-bezier(0, .52, 0, 1);
}
.nav-container-open {
    transform: translate3d(0, 0, 0);
}
.nav-slider{
    position: absolute;
    display: flex;
    top: 10px;
    transform: translateX(100%);
}

.nav { 
    background-color: var(--gray-900);
    color: white;
    overflow-y: scroll;
    padding: 7px;
}
.title {
    color: var(--blurple);
    text-align: center;
    padding: 10px
}

.content-container {
    transition: 0.6s cubic-bezier(0, .52, 0, 1);
}

.nice-text-area {
    height: 90%;
    background-color: var(--gray-900);
    color: white;
}
.nice-text-area:focus {
    background-color: var(--gray-800);
    color: white;
}

.footer {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 10px 0px;
    max-height: 70px;
    text-align: center;
}

/* Utils */
.no-pad {
    padding: 0;
}

input:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

@media all and (max-width: 600px) {
    .nav-container {
        display: flex;
        position: fixed;
        top: 0;
        height: 100vh;
        justify-content: flex-end;
        transition: transform 0.6s cubic-bezier(0, .52, 0, 1);
    }

    .nav { 
        background-color: var(--gray-900);
        color: white;
        overflow-y: scroll;
        padding: 20px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 25px;
    }
}